---
// src/layouts/Layout.astro
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import DisclaimerModal from "../components/DisclaimerModal.astro";
import BaseHead from "../components/BaseHead.astro"; // <-- 1. Importa el BaseHead
import "../styles/global.css";

interface Props {
  title: string;
  description?: string; // Añadimos descripción opcional
}

const { title, description = "Plataforma de análisis de accidentabilidad vial" } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  
  <body class="bg-ocean-950"> 
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    
    <DisclaimerModal /> 
  </body>
</html>